psycopg2-binary >= 2.8.5
celery==4.4.7
requests==2.25.0
simplejson==3.17.2
pyyaml==5.3.1
numpy==1.19.4
uvicorn==0.12.2
pandas==1.1.4
yaml-1.3==0.1.0
sqlalchemy==1.3.20
pydantic==1.7.2
typing==3.7.4.3
pyarrow==2.0.0
cffi==1.14.3
flower==0.9.5
gunicorn==20.0.4
coinpaprika
redis